/* 사이드 네비게이션 바 스타일 */
.sidenav {
  position: absolute; 
  top: 0;             
  left: 0;            
  width: 90px;        
  height: 950px;       
  /* height: 100vh;        */
  background-color: #f8f9fa;
  z-index: 1000;

  display: flex;              
  flex-direction: column;     
  align-items: center;        
  justify-content: start;     
}

/* 아이콘 항목 스타일 */
.sidenav-item {
  padding: 22px;              
  transition: background-color 0.3s ease; 
}

/* 아이콘 크기와 스타일 */
.sidenav-icon {
  font-size: 45px;            
  color: #333;                
  transition: color 0.3s ease, transform 0.3s ease;
}

/* 호버 시 스타일 */
.sidenav-item:hover {
  background-color: #e9ecef;  
}

.sidenav-item:hover .sidenav-icon {
  color: #007bff;             
  transform: scale(1.1);      
}

/* 활성화 상태 */
.sidenav-item.active {
  background-color: #e9ecef; /* 활성화된 아이템 배경색 */
}

.sidenav-item.active .sidenav-icon {
  color: #007bff; /* 활성화된 아이콘 색상 */
  transform: scale(1.1); /* 활성화된 아이콘 크기 */
}


/* 로그아웃 버튼 스타일 */
.sidenav-logout {
  position: absolute;
  bottom: 20px; /* 원하는 위치로 조정 */
  left: 0;
  width: 100%;
  text-align: center;
  padding: 22px;
  transition: background-color 0.3s ease;
}

.sidenav-logout .sidenav-icon {
  font-size: 45px;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidenav-logout:hover {
  background-color: #e9ecef;
}

.sidenav-logout:hover .sidenav-icon {
  color: #007bff;
  transform: scale(1.1);
}